.ModeSelect {
  text-align: center;
  min-height: 100vh;
}

.ModeSelect-header {
  background-color: #2C2E31;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
