[TYPECHECK]
ignored-modules =
    alembic.op,
    alembic.context,

[FORMAT]
max-line-length = 88

[MESSAGES CONTROL]
disable = 
    missing-docstring,
    too-few-public-methods,
    redefined-builtin,
    broad-exception-caught,
    broad-exception-raised,
    raise-missing-from,
    not-callable,
    # Ignore TODO and FIXME comments.
    fixme,
    # Handled by black.
    format,
