[FORMAT]
max-line-length = 88

[MESSAGES CONTROL]
disable = 
    fixme,
    missing-docstring,
    too-few-public-methods,
    redefined-builtin,
    broad-exception-caught,
    broad-exception-raised,
    raise-missing-from,
    too-many-arguments,
    attribute-defined-outside-init,
    redefined-outer-name,
    too-many-locals,
    # TODO:
    # Pylint gives false-positive to many of generated attributes are not defined.
    # Ignore `no-member` to supress them as many are checked by mypy too.
    no-member,
    # TODO:
    # Pylint gives false-positive sqlalchemy.func.* is not callable.
    # https://github.com/pylint-dev/pylint/issues/8138
    not-callable,
    # TODO:
    # Pylint gives false-positive sqlalchemy.orm.Mapped is not subscriptable.
    # https://github.com/pylint-dev/pylint/issues/1498
    unsubscriptable-object,
    # Handled by black.
    format,
